.podcast-resume{
    width: 20%;
    height: fit-content;
    margin: 1rem 3rem;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;

    *{
        hyphens: auto;
        text-align: justify;
    }
    h4, p{
        margin: 0;
    }
    img, .author{
        cursor: pointer;
        font-size: 0.8rem;
        font-style: italic;
    }

    .owner-data{
        margin: 1rem 0;
    }

    .description{
        font-size: 0.8rem;
        font-style: italic;
    }
}